<app-header></app-header>


<!-- Carrusel Principal -->
<div id="CarruselPrincipal" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000" data-bs-wrap="true">
  <div class="carousel-indicators">
      <button type="button" data-bs-target="#CarruselPrincipal" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#CarruselPrincipal" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#CarruselPrincipal" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#CarruselPrincipal" data-bs-slide-to="3" aria-label="Slide 3"></button>
      
      <button type="button" data-bs-target="#CarruselPrincipal" data-bs-slide-to="4" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="assets/images/Carrusel_1.jpg" class="d-block w-100" alt="Primera imagen">
      </div>
      <div class="carousel-item">
          <img src="assets/images/Carrusel_2.jpg" class="d-block w-100" alt="Segunda imagen">
      </div>
      <div class="carousel-item">
          <img src="assets/images/Carrusel_3.jpg" class="d-block w-100" alt="Tercera imagen">
      </div>
      <div class="carousel-item">
          <img src="assets/images/Carrusel_4.jpg" class="d-block w-100" alt="Tercera imagen">
      </div>
      <div class="carousel-item">
          <img src="assets/images/Carrusel_5.jpg" class="d-block w-100" alt="Tercera imagen">
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#CarruselPrincipal" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#CarruselPrincipal" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
  </button>
</div>


<!-- Sección Productos -->
<section class="productos-section">
  <div class="container">
    <h2 class="productos-titulo">Nuestros Productos</h2>
    <div class="row">

      <div class="col-md-3">
        <div class="producto-card">
          <h3 class="producto-nombre">Cuidado y Aseo</h3>
          <img src="assets/images/Inicio_Aseo.jpg" alt="Cuidado y Aseo" class="producto-imagen">
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="producto-card">
          <h3 class="producto-nombre">Alimento para Mascotas</h3>
          <img src="assets/images/Producto_2.jpg" alt="Alimento para Mascotas" class="producto-imagen">
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="producto-card">
          <h3 class="producto-nombre">Juguestes</h3>
          <img src="assets/images/Inicio_Juguetes.png" alt="Juguestes" class="producto-imagen">
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="producto-card">
          <h3 class="producto-nombre">Accesorios</h3>
          <img src="assets/images/Inicio_Accesorios.png" alt="Accesorios" class="producto-imagen">
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Sección Servicios -->
<section class="servicio-spa">
  <div class="container">
    <h2 class="servicios-titulo-principal">Nuestros Servicios Destacados</h2>
    <div class="row">

      <div class="col-md-12">
        <div class="servicio-card">
          <div class="row">
            <div class="col-md-6">
              <img src="assets/images/Spa_Mascotas.jpg" alt="Spa para Mascotas" class="servicio-imagen">
            </div>
            <div class="col-md-6">
              <br>
              <span class="servicio-nombre">Spa para tus Mascotas</span>
              <br>
              <p class="servicio-descripcion">
                Dale a tu peludo una experiencia única de relajación y cuidado. 
                Nuestro spa ofrece tratamientos especiales para el bienestar de tu mascota, 
                  desde baños relajantes hasta masajes terapéuticos. 
                  ¡Tu mascota se lo merece!
              </p>
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
</section>




<app-footer></app-footer>
