<footer class="footer">
    <div class="footer-column logo">
      <img src="assets/images/Logo_MundoPet.png" alt="Logo Mundo Pet"/>
    </div>

    <div class="footer-column">
      <h4>Enlaces Principales</h4>
      <ul>
        <li><a href="/about">Acerca de Nosotros</a></li>
        <li><a href="/services">Servicios</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/terms">Términos y Condiciones</a></li>
      </ul>
    </div>
  
    <div class="footer-column">
      <h4>Links de Interés</h4>
      <ul>
        <li><a href="/faq">Preguntas Frecuentes</a></li>
        <li><a href="/privacy-policy">Política de Privacidad</a></li>
        <li><a href="/delivery-policy">Políticas de Entrega</a></li>
        <li><a href="/site-map">Mapa del Sitio</a></li>
      </ul>
    </div>
  
    <div class="footer-column">
      <h4>Líderes</h4>
      <ul>
        <li>Alexis Barreto</li>
        <li>Emanuel Duarte</li>
        <li>Milena Vega</li>
        <li>Diego Jara</li>
      </ul>
    </div>
  </footer>
  